llama-cpp-python
huggingface-hub
coqui-tts[all]
livekit-agents[openai,silero,turn-detector, fal]~=1.0
RealtimeTTS[all]
sounddevice
pyaudio
torch
python-dotenv
transformers
networkx
typing_extensions
fsspec
imageio
numpy
requests